//colors
$primary-bg:#000000;
$secondry-bg:#141414;
$branding-purple:#A57AD4;
$branding-yellow:#ffcc38;


//text-colors

$large-font-gray: #394247;
$small-text-gray:#A1ACB3;
$light-gray-text:#626262;
$label-color:#5C6A73;
$white-text:#ffffff;



//== fonts //
$base-font-family:  "Kulim Park", sans-serif !default; 
$banner-header-family: "Effra",  sans-serif !default;
$banner-font-size:48px;
$small-banner-font-size:36px;
$banner-subheading-size:20px;
$base-paragraph-font-size:14px;
$base-headings-font-size:28px;
$very-small-font-size:12px;
$medium-size-font-size:18px;
$intermediate-font-size:14px;

$bold-font:700;
$semi-bold:500;
$normal-font-weight:400;
$thin-font:100;






