footer{
    background-color:$secondry-bg;
    padding: 20px 0;
    
}
.award-holder {
   display: flex;
   justify-content: center;
    padding: 20px 0px;
   
   &__award {
        width: 50%;
        @include breakpoint(large) {
            width: 60%;
        }
   }
}

.help {
    display: flex;
    flex-direction: column;
    list-style: none;
    color: $branding-yellow;
    align-items: center;
    padding: 0;
    @include breakpoint(medium) {
        flex-direction: row;
        justify-content: space-around;
        width: 80%;
        margin: 0 auto;
        padding: 30px 0;
    }

    &__item {
        padding: 5px 0;

        @include breakpoint(large) {
            font-size: $base-paragraph-font-size;
        }

        
    }
}
.language-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    display: none;

    

    @include breakpoint(large) {
        display: flex;
        justify-content: space-evenly;
        color: wheat;
        width: 50%;
        margin: 0 auto;
        font-size: 12px;
    }

    &__item {
        color: $white-text;
        opacity: 0.6;
        font-size: $very-small-font-size;
        &__active {
            color: $white-text;
            opacity: 1;
            font-weight: bold;
        }
    }
}

.language-select {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: normal;
    color: #afafaf;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 30%;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #313132;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      ;
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    margin: 0 auto;
    border:none;

    @include breakpoint(large) {
        display: none;
    }
}


.language-select::-ms-expand {
    display: none;
}
.language-select:hover {
    border-color: #888;
}
.language-select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
.language-select option {
    font-weight:normal;
}

